<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Pages</title>

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="/favicon-32x32.png" sizes="32x32">

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h2 {
            color: #2c3e50;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            background: #ecf0f1;
            margin: 5px 0;
            padding: 10px;
            border-radius: 5px;
        }

        .row {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    </style>
    <script>
      window.addEventListener('load', function () {
        const modalElement = document.getElementById("modal");
        const uploadBtn = document.getElementById("upload-btn");
        const uploadForm = document.getElementById("upload-form");
        const deleteBtns = document.querySelectorAll(".delete-site-btn");

        deleteBtns.forEach((btn) => {
          btn.addEventListener("click", (event) => {
            const site = event.target.name;
            fetch(`/api/sites/${site}`, {
              method: "DELETE"
            }).then((response) => {
              if (response.ok) {
                window.location.reload();
              }
            });
          });
        });


        uploadBtn.addEventListener("click", () => {
          modalElement.showModal();
        });

        uploadForm.addEventListener("submit", (event) => {
          if (event.submitter.value === "cancel") {
            return;
          }

          event.preventDefault();
          const formData = new FormData(uploadForm);
          fetch(uploadForm.action, {
            method: uploadForm.method,
            body: formData
          }).then((response) => {
            if (response.ok) {
              window.location.reload();
            }
          });
        });
      })
    </script>
</head>
<body>
<h1>Site Files Hierarchy</h1>

<button id="upload-btn">Upload Site</button>
<dialog id="modal">
    <form method="post" enctype="multipart/form-data" action="/api/sites" id="upload-form">
        <p>
            <label>Site Name: </label><br/>
            <input type="text" name="name"/>
        <p>
        <p>
            <label>Add files: </label><br/>
            <input type="file" name="files" multiple="multiple" webkitdirectory mozdirectory/>
        </p>
        <input type="submit"/>
        </p>
        <button value="cancel" formmethod="dialog">Cancel</button>
    </form>
</dialog>

{% for site, files in sites.items() %}
<div class="row">
    <h2><a href="sites/{{ site }}">{{ site }}</a></h2>
    <button name="{{ site }}" class="delete-site-btn">Delete site</button>
</div>
<ul>
    {% for file in files %}
    <li>{{ file }}</li>
    {% endfor %}
</ul>
{% endfor %}
</body>
</html>
